## AWS Credentials
Check that you have entered the proper credentials in your local

In [1]:
AWS_ACCESS_KEY_ID="ASIAYIZMYGJZ622O3YUD"
AWS_SECRET_ACCESS_KEY="18QV1FAaTACau75FyHW8SxhxDaievgL2Gbb8nSRM"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEGMaDmFwLXNvdXRoZWFzdC0xIkYwRAIgN90fiKdysu3WE2+JSiRNjAC/G5jhWVEph4Gmk6uspl8CIE45hV3Hh3nm36tYlWdWzY8ZqCMXD4DIaSvG0D7GeGV6KpUDCDwQARoMNTY4NjQwMTU2Mjc1Igw9PvZlVlM3WcNByAUq8gINGUVMPHDQnwQCvG7jqqxN+HNIq7tGbFXE1+zz2snDC9V44xrybHMEs8tsZ0AzTV1W3bVwK4/bhFqZKXLM/1AFb2dz4Yrc4dZ83m0AmhLdb9t5tM/ePoixC8umw3wMVqYqXrBErKNjIP1j5EWdm3B/PSLmElD8uX1J/d2B+BGmDuqxKNluK24CpNaeRiI3iXA0hzDHd9NRB8TJy9GnZ/hffLXUDDQNjokicfGLitVZT+f1ro+2tsuXuLFMC1Vm+TereVeFvy4HunrUZLZSeNQt5/PSZ2WOBfH+aBu5qDLRqfyLdoKHkK5NiRc83c4var3Wl05m7HuEkLQwJlMTbzcf1IM5Y+gsBE53ccJUhfJ6cQzLIRI9Q/2ffJdskgIiU2VQ4fFXzDnwW36edghbrKEcvvULauwAMwX4LAbCG2oIPnKSQOecEwZPigW+0aRMY4jv+w/PCzUCKUMGaJAHzssSAAML7KrZ82xHAJ1OjZgK65IdMOyiiaEGOqcBvndh7qigifY/kb17wMiy99TVzfcMR2ibDNA+GehvmvG0EVc4gKyIMM3AmO2lT45lLtEZ+5WIKqXWrI7fSyu1whmU643ELQllurL9RNmUVkbE2V0fRzaqx0bGazuVTuFDvnI/tJHqnfMVWlQzT7GGlDBXKMgvHsDGqdDubuPjVqBwJEc/HzLBdz0OGNj3FDIqmc9kz+3d+iVfZ1/hg8l2JJeMIrOqDlM="
AWS_DEFAULT_REGION="ap-southeast-1"

In [2]:
BUCKET_NAME = 'document-scanning-az'

Only need to run once if have yet to install

In [3]:
# !pip install amazon-textract-response-parser
# !pip install amazon-textract-prettyprinter
# !pip install amazon-textract-caller
# !pip install pandas

# Importing dependencies
Necessary dependencies are imported and we initialize the aws service to be used lated

In [26]:
import boto3
import botocore
import json
import time
import pandas as pd
import numpy as np

# from trp.trp2 import TDocument, TDocumentSchema
# from trp.t_pipeline import order_blocks_by_geo
# from trp import Document
from textractprettyprinter.t_pretty_print import Textract_Pretty_Print, get_string
from textractcaller import get_full_json, Textract_API

# t_doc = TDocumentSchema().load(j)

In [5]:
session = boto3.session.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    aws_session_token=AWS_SESSION_TOKEN,
)

textract = session.client("textract", region_name = AWS_DEFAULT_REGION )
s3 = session.client("s3", region_name = AWS_DEFAULT_REGION)

# Upload report to S3
Upload file from local machine to S3 if file has yet to be uploaded

In [6]:
filename = 'dsv'
upload_prefix = 'raw-reports/'
file_ref_raw_file = upload_prefix + filename + '.pdf'
local_file_ref = file_ref_raw_file

try:
    s3.get_object(
        Bucket= BUCKET_NAME,
        Key= file_ref_raw_file
    )
    print("File already uploaded to S3")
except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code'] == "NoSuchKey":
        print("Uploading to S3")
        with open(local_file_ref, "rb") as f:
            s3.upload_fileobj(f, BUCKET_NAME, file_ref_raw_file)
        print("Uploaded to S3")
    if e.response['Error']['Code'] == "ExpiredToken":
        print("Expired Token")


print("File is at: ", file_ref_raw_file);

File already uploaded to S3
File is at:  raw-reports/dsv.pdf

# Textract function
Function to textract file asynchronously and fetch block response. Although the function to start analysis is done asynchronously, getting full json requires waiting till the job is completed.

For future use in the cloud, a notification can be set up to notify completion of extraction

In [7]:
def textract_file(file_ref):
    doc_textracted_async = textract.start_document_analysis(
        DocumentLocation={
            'S3Object':{
                'Bucket': BUCKET_NAME,
                'Name': file_ref
            }
        },
        FeatureTypes=['TABLES']
    )
    job_id = doc_textracted_async["JobId"]
    all_blocks = []
    print("getting full_json")
    response = get_full_json(job_id, Textract_API.ANALYZE, textract)
    return response

# Textract file
Get textracted file if exist from S3, else textract and upload

In [8]:
upload_textracted_prefix = 'textracted-reports-values/'
file_ref_tetracted = upload_textracted_prefix + filename + '.json'

document_json = {}

try:
    document_json = s3.get_object(
        Bucket= BUCKET_NAME,
        Key= file_ref_tetracted
    )
    document_json = json.loads(document_json["Body"].read().decode('UTF-8'))
    print("File already textracted")
    
except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code'] == "NoSuchKey":
        print("Textracting.....")
        document_json = textract_file(file_ref_raw_file)
        print("Textracted")

        json_file = json.dumps(document_json).encode('UTF-8')

        s3.put_object(
            Body = json_file,
            Bucket = BUCKET_NAME,
            Key = file_ref_tetracted
        )
        print("File uploaded at: ", file_ref_tetracted)
all_blocks = document_json["Blocks"]

File already textracted

# Visualizing all tables

In [9]:
print(get_string(textract_json=document_json, output_type=[Textract_Pretty_Print.TABLES]))

|----------------------------|------|------|------|------|------|
| Environmental data*        | 2021 | 2020 | 2019 | 2018 | 2017 |
| CO2 Scope 1 ('000 tonnes)  |      |      |      |      |      |
| Company cars**             | 10   | 13   | 14   | -    | -    |
| Road emissions (own fleet) | 101  | 43   | 37   | 39   | 39   |
| Building emissions         | 24   | 24   | 23   | 22   | 19   |
| Total CO, e Scope 1        | 135  | 80   | 74   | 61   | 58   |
| CO2 Scope 2 ('000 tonnes)  |      |      |      |      |      |
| Building emissions         | 119  | 98   | 85   | 78   | 78   |
| Total CO2 e Scope 2        | 119  | 98   | 85   | 78   | 78   |

|----------------------------|--------|--------|-------|-------|-------|
| Environmental data*        | 2021   | 2020   | 2019  | 2018  | 2017  |
| CO2e Scope 3 ('000 tonnes) |        |        |       |       |       |
| Business travel**          | 1      | 1      | 8     | -     | -     |
| Air transport              | 7,458  | 6,825  | 4,631 | 3,291 | 3,208 |
| Sea transport              | 1,130  | 1,047  | 1,242 | 820   | 855   |
| Road transport             | 3,823  | 3,275  | 2,847 | 3,015 | 2,987 |
| Rail transport*            | 112    | 139    | -     | -     | -     |
| Total CO e Scope 3         | 12,524 | 11,287 | 8,728 | 7,126 | 7,050 |

|-------------------------------------------------------------|-------|-------|-------|-------|-------|
| Environmental data*                                         | 2021  | 2020  | 2019  | 2018  | 2017  |
| Energy efficiency (gram CO. e per tonne transported one km) |       |       |       |       |       |
| COe (g/tonne-km) - Air transport                            | 694.4 | 704.0 | 718.2 | 728.0 | 751.0 |
| COe (g/tonne-km) - Sea transport                            | 6.1   | 6.2   | 6.4   | 7.0   | 7.3   |
| COe (g/tonne-km) - Road transport                           | 92.4  | 92.8  | 93.2  | 96.5  | 97.4  |
| COe (g/tonne-km) - Rail transport*                          | 32.6  | 32,7  | -     | -     | -     |
| Fuel consumption (own truck fleet)                          |       |       |       |       |       |
| Total consumption of fuel ('000 gigajoule)**                | 1,488 | -     | -     | -     | -     |
| Proportion of HVO fuel consumed (%)*                        | 4     | -     | -     | -     | -     |
| Energy consumption Scope 1 & 2 ('000 gigajoule)             |       |       |       |       |       |
| Total energy consumption**                                  | 2,800 | 1,673 | -     | -     | -     |

|-----------------------------------------------------------------------------------------------------------|-------|-------|-------|-------|-------|
| Environmental data*                                                                                       | 2021  | 2020  | 2019  | 2018  | 2017  |
| Water ('000 m³)                                                                                           |       |       |       |       |       |
| Total water consumption - buildings                                                                       | 1,188 | 1,152 | 1,596 | 1,485 | 1,435 |
| Renewable energy share (%)                                                                                |       |       |       |       |       |
| Renewable**                                                                                               | 12    | 22    | -     | -     | -     |
| Non-renewable**                                                                                           | 88    | 78    | -     | -     | -     |
| Euro engine standards (%)                                                                                 |       |       |       |       |       |
| Proportion of trucks of DSV Road satisfying Euro 2 standard or older (own and suppliers' trucks)          | 0.2   | 0.2   | 0.2   | 0,7   | 0.7   |
| Proportion of trucks of DSV Road satisfying Euro 3 or 4 standards (own and suppliers' trucks)             | 9.6   | 10.4  | 16.5  | 19.3  | 20.8  |
| Proportion of trucks of DSV Road satisfying Euro 5 or 6 standards (own and suppliers' trucks)             | 90.2  | 89.4  | 83.3  | 80.0  | 78.5  |
| Recycling of paper, cardboard and plastic (%)                                                             |       |       |       |       |       |
| Proportion of locations recycling paper, cardboard, and/or plastic from offices, terminals and warehouses | 71    | 74    | 74    | 79    | 74    |

|------------------------------------------------|-------|-------|-------|-------|-------|
| Social data*                                   | 2021  | 2020  | 2019  | 2018  | 2017  |
| Gender diversity (%) (female/male)             |       |       |       |       |       |
| Gender diversity total                         | 38/62 | 38/62 | 39/61 | 38/62 | 39/61 |
| Gender diversity salaried employees**          | 49/51 | 51/49 | 51/49 | -     | -     |
| Gender diversity hourly workers**              | 22/78 | 23/77 | 25/75 | -     | -     |
| Gender diversity, management (%) (female/male) |       |       |       |       |       |
| Gender diversity management                    | 34/66 | 34/66 | 33/67 | 28/72 | 31/69 |
| Age distribution of employees (%)              |       |       |       |       |       |
| Employees <25                                  | 9.8   | 8.4   | 9.5   | 8.0   | 8.3   |
| Employees 25-34                                | 29.4  | 29.1  | 29.3  | 30.0  | 30,7  |
| Employees 35-44                                | 30.2  | 30,7  | 30.6  | 29.8  | 29.6  |
| Employees 45-54                                | 20.0  | 20,4  | 19.5  | 20.5  | 20,5  |
| Employees >54                                  | 10.6  | 11.4  | 11.1  | 11.7  | 10.9  |
| Employee seniority (%)                         |       |       |       |       |       |
| Seniority <1 year                              | 24,0  | 17.0  | 17,7  | 19.4  | 19.1  |
| Seniority 1-2 years                            | 17.9  | 22.8  | 22,7  | 21.9  | 21.1  |
| Seniority 3-5 years                            | 20.2  | 19.9  | 19.8  | 17.2  | 16.2  |
| Seniority 6-10 years                           | 15.7  | 15.3  | 15.5  | 15.2  | 17.3  |
| Seniority 11-25 years                          | 18.3  | 20.3  | 20.0  | 21.4  | 20.5  |
| Seniority >25 years                            | 3.9   | 4.7   | 4.3   | 4.9   | 5.8   |
| Collective bargaining agreements (%)           |       |       |       |       |       |
| Total*                                         | 28    | -     | -     | -     | -     |
| Salaried employees*                            | 17    | -     | -     | -     | -     |
| Hourly workers*                                | 40    | -     | -     | -     | -     |

|---------------------------------|--------|--------|--------|--------|--------|
| Social data*                    | 2021   | 2020   | 2019   | 2018   | 2017   |
| Employees (full-time workforce) |        |        |        |        |        |
| Total                           | 77,958 | 56,621 | 61,216 | 47,394 | 45,636 |
| Salaried employees              | 40,605 | 29,544 | 32,820 | 23,088 | 22,730 |
| Hourly workers                  | 37,353 | 27,077 | 28,396 | 24,306 | 22,906 |

|---------------------------------------------------------------------|-------|-------|-------|-------|-------|
| Social data*                                                        | 2021  | 2020  | 2019  | 2018  | 2017  |
| Sickness absence (days per FTE)                                     |       |       |       |       |       |
| Total                                                               | 5.7   | 6.4   | 6.0   | 5.9   | 4.7   |
| Salaried employees                                                  | 5.4   | 5.8   | 6.0   | 6.6   | 4.7   |
| Hourly workers                                                      | 6.0   | 7.1   | 5.9   | 5.2   | 4.7   |
| Lost Time Injury Frequency Rate (LTIFR) (per million working hours) |       |       |       |       |       |
| Total                                                               | 4.5   | 6.7   | 5.0   | 4.6   | 4.2   |
| Salaried employees                                                  | 1.0   | 0.8   | 0.9   | 0.5   | 0,8   |
| Hourly workers                                                      | 7.9   | 13.3  | 9.1   | 8.3   | 7.6   |
| Lost workdays due to lost time injury (per million working hours)   |       |       |       |       |       |
| Total                                                               | 61.0  | 78.8  | 97.5  | 98.0  | 81.2  |
| Salaried employees                                                  | 15.3  | 16.0  | 22.0  | 23.2  | 20.8  |
| Hourly workers                                                      | 105,4 | 148.6 | 173,8 | 164.5 | 142.5 |
| Fatalities                                                          |       |       |       |       |       |
| Fatalities in absolute numbers                                      | 1     | 0     | 1     | 0     | 0     |

|------------------------------------------------------|------|------|------|------|------|
| Social data*                                         | 2021 | 2020 | 2019 | 2018 | 2017 |
| Employee turnover ratio (%)                          |      |      |      |      |      |
| Total                                                | 24.4 | 32.5 | 23.6 | 20.1 | 18.0 |
| Salaried employees                                   | 24.2 | 31.5 | 21.9 | 19.6 | 18.4 |
| Hourly workers                                       | 24.6 | 33.6 | 25.3 | 20.6 | 17.5 |
| Employee turnover ratio (%) (adjusted for synergies) |      |      |      |      |      |
| Total                                                | 21.9 | 20.5 | 21.1 | 20.1 | 16.4 |
| Salaried employees                                   | 19.7 | 11.7 | 17.5 | 19.6 | 15.7 |
| Hourly workers                                       | 24.2 | 31.0 | 24.8 | 20.6 | 17.2 |

|---------------------------------------------------------------------------|------|------|------|------|------|
| Governance and other data*                                                | 2021 | 2020 | 2019 | 2018 | 2017 |
| Compliance reviews (%)                                                    |      |      |      |      |      |
| Companies reviewed                                                        | 25   | 25   | 56   | 50   | 55   |
| Management System Certifications (%)                                      |      |      |      |      |      |
| ISO 9001 (Quality)                                                        | 32   | 38   | 61   | 40   | 39   |
| ISO 45001 (Health & Safety)                                               | 18   | 22   | 40   | 19   | 12   |
| ISO 14001 (Environment)                                                   | 24   | 30   | 52   | 33   | 24   |
| Distribution of DSV's Supplier Code of Conduct (%)                        |      |      |      |      |      |
| Distribution of DSV's Supplier Code of Conduct with spend over 25,000 EUR | 88   | 100  | 100  | 95   | 93   |

|----------------------------------------------------------------------------------------------------------|------|------|------|------|------|
| Governance and other data*                                                                               | 2021 | 2020 | 2019 | 2018 | 2017 |
| Employee training on Code of Conduct, including human rights and anti-corruption policies and procedures |      |      |      |      |      |
| Code of Conduct online training, completion rate (%)                                                     | 100  | 100  | 100  | -    | -    |
| Average training hours spent on Code of Conduct*                                                         | 2    | 2    | 2    | -    | -    |
| Whistleblower reports                                                                                    |      |      |      |      |      |
| Total                                                                                                    | 47   | 41   | 60   | 23   | 23   |

# Create a dictionary for block
Dictionary for block is created to extract blocks by Id

In [17]:
all_blocks_dict_by_id = {}
for block in all_blocks:
    all_blocks_dict_by_id[block["Id"]]=block

# Extract text from merge cells
AWS textract returns us merge cells detected in the tables. We would replicate the entries of all merge cells into the normal cells as we wont be able to process merge cells here

In [18]:
# i want to go into a merge cell and replicate for the space
def extract_child_ids_if_present(block):
    
    try:       
        return block["Relationships"][0]["Ids"]
    except:
        return None

# get text of cell
def get_text_from_cell_ids(cell_ids, all_blocks_dict_by_id):
    word_ids = []
    
    for cell_id in cell_ids:
        child_id = extract_child_ids_if_present(all_blocks_dict_by_id[cell_id])
        if child_id != None:
            word_ids += child_id
            
    word_arr = [all_blocks_dict_by_id[word_id]["Text"] for word_id in word_ids]
    
    return (' ').join(word_arr)

# get text, row idx, row span, col idx, col span
def get_details_from_merge_cell(merge_block_id, all_blocks_dict_by_id):

    merge_block = all_blocks_dict_by_id[merge_block_id]
    
    #find all child id
    child_ids = merge_block["Relationships"][0]["Ids"]
    text = get_text_from_cell_ids(child_ids, all_blocks_dict_by_id)
    
#     return{
#         'Text': text,
#         'RowIndex': merge_block["RowIndex"],
#         'ColumnIndex': merge_block["ColumnIndex"],
#         'RowSpan': merge_block["RowSpan"],
#         'ColumnSpan': merge_block["ColumnSpan"],
#     }
    return [text, merge_block["RowIndex"], merge_block["ColumnIndex"], merge_block["RowSpan"], merge_block["ColumnSpan"]]

In [19]:
table_blocks = [block for block in all_blocks if block["BlockType"] == "TABLE"]

all_table_arrays = []

# for all tables return by textract:
for idx, table_block in enumerate(table_blocks):
    relations = table_block['Relationships']
    child_ids = []
    merged_cells_ids = []

    # check for child and merge cell relationship
    for relation in relations:
        if relation["Type"] == "CHILD":
            child_ids = relation["Ids"]
        elif relation["Type"] == "MERGED_CELL":
            merged_cells_ids = relation["Ids"]

    current_row = 1
    table_array = []
    row_array = []

    
    # compile cells into array
    for cell_id in child_ids:
        blocks = all_blocks_dict_by_id[cell_id]

        text = get_text_from_cell_ids([cell_id],all_blocks_dict_by_id)
        row_index =  blocks["RowIndex"]
        column_index = blocks["ColumnIndex"]

        if current_row == row_index:
            row_array.append(text)
        else:
            table_array.append(row_array)
            row_array = [text]
            current_row = row_index

    table_array.append(row_array)

    # refactor cells that has merged values (currently only for row)
    for merged_cell_id in merged_cells_ids:
        text, row_idx, col_idx, row_span, col_span  = get_details_from_merge_cell(merged_cell_id, all_blocks_dict_by_id)
#         print(text, row_idx, col_idx, row_span, col_span)

        row_idx_start = row_idx-1
        row_idx_end = row_idx-1 + row_span
        for row_idx in range(row_idx_start, row_idx_end):
            table_array[row_idx][col_idx-1] = text
            
    # combine all table        
    all_table_arrays.append(table_array)

# Visualizing each table after refactoring merge cells one by one

In [28]:
n=0
# print(n)

### continue pressing ctrl + Enter to iterate to the next table

In [29]:
df = []
try:
    arr_np = np.array(all_table_arrays[n])
    df = pd.DataFrame(arr_np[1:], columns=arr_np[0])
    n +=1
except:
    print("End of table reached")
df

          Environmental data* 2021 2020 2019 2018 2017
0   CO2 Scope 1 ('000 tonnes)
1              Company cars**   10   13   14    -    -
2  Road emissions (own fleet)  101   43   37   39   39
3          Building emissions   24   24   23   22   19
4         Total CO, e Scope 1  135   80   74   61   58
5   CO2 Scope 2 ('000 tonnes)
6          Building emissions  119   98   85   78   78
7         Total CO2 e Scope 2  119   98   85   78   78

# Key Word Mapping
List down keywords to extract from the table. All keys in list have to exist.

In [42]:
year = 2021
sample_keywords = {
    "Total Scope 1 GHG emissions ('000 tonnes)":['Total', 'Scope 1'],
    "Total Scope 2 GHG emissions ('000 tonnes)":['Total', 'Scope 2'],
    "Total Scope 3 GHG emissions ('000 tonnes)":['Total', 'Scope 3'],
    "Total electricity consumption ('000 gigajoule)":['Total', 'energy','consumption'],
    "Total water consumption ('000 m3)":['Total', 'water', 'consumption'],
#     "Total waste generated (tonnes)":[],
#     "Total Hazardous waste (tonnes)":[],
#     "Total Non-Hazardous waste (tonnes)":[],
    "Current gender diversity (female/male) (%)":['gender', 'diversity', 'total'],
    "Current gender diversity in management (female/male) (%)":['gender', 'diversity', 'management'],
    "Number of severe injury":["fatalities", "absolute", "number"]
#     "%of employees by age group (%)":[],
#     "Average training hours per employee (hours)":[],
#     "Turnover rate (%)":[],
#     "%women on the board (%)":[],
#     "%women in Management (%)":[],
#     "Number of corruption case":[]    
}

In [43]:
import re

def is_year(number):
    if re.match(r"(19|20|21)[0-9]{2}", number) and len(number)==4:
        return True
    else:
        False
    
# returns False if not found
# return location of year and key location if found
def loc_for_year_header(year, table_array):
    year_loc_row = {}
    year_loc_col = {}
    
    num_of_rows = len(table_array)
    num_of_col = len(table_array[0])
    
    array_year = np.zeros((num_of_rows, num_of_col))
    for row_id, row in enumerate(table_array):
        
        for col_id, elem in enumerate(row):
            if is_year(elem):
                array_year[row_id][col_id] = 1
                if str(elem) == str(year):
                    # in case we have elements with year format above
                    try:
                        year_loc_row[row_id].extend([col_id])
                        year_loc_col[col_id].extend([row_id])
                    except:
                        year_loc_row[row_id] = [col_id]
                        year_loc_col[col_id] = [row_id]
                                            
    # in future, need to factor in if year is not in first col or first row
    row_sum = np.sum(array_year, axis = 0)[0] #row sum
    col_sum = np.sum(array_year, axis = 1)[0] #col sum
    
    #only support year in 1 year or 1 col
    if row_sum > col_sum: #year is in first col
        row_idxs = year_loc_col[0]
        if len(row_idxs) != 1:
            return False
        else:
            return ((row_idxs[0], 0), "row")
    else: #year is in first row
        col_idxs = year_loc_row[0]
        if len(col_idxs) != 1:
            return False
        else:
            return ((0, col_idxs[0]), "col")

In [44]:
# year loc used to know where to start extracting data
year_loc, key_loc = loc_for_year_header(year, arr_np)
# print(year_loc, key_loc)

header_mapping = {}
filtered_table_array = []

for table_arr in all_table_arrays:
    if key_loc == 'col':
        for row in table_arr:
            table_key = row[0].lower()
            for key in sample_keywords:
    #             print("key", key)
                is_table_key = 1
                for values in sample_keywords[key]:
#                     print("values", values)
                    if values.lower() not in table_key:
                        is_table_key = 0
    #                     print("values not in /", table_key)
                        break
    #                 print("in value for loop")
#                     print("values", values, table_key)
                if is_table_key:
                    if row[year_loc[1]] != '':
                        header_mapping[key]=table_key
                        filtered_table_array.append([key] + row[1:])
#                     print(key, row[year_loc[1]])
                    
    #             print("in key for loop")

In [45]:
arr_np[0][0] = ''
df = pd.DataFrame(np.array(filtered_table_array), columns=arr_np[0])
df

,,2021,2020,2019,2018,2017
0,Total Scope 1 GHG emissions ('000 tonnes),135,80,74,61,58
1,Total Scope 2 GHG emissions ('000 tonnes),119,98,85,78,78
2,Total Scope 3 GHG emissions ('000 tonnes),"12,524","11,287","8,728","7,126","7,050"
3,Total electricity consumption ('000 gigajoule),"2,800","1,673",-,-,-
4,Total water consumption ('000 m3),"1,188","1,152","1,596","1,485","1,435"
5,Current gender diversity (female/male) (%),38/62,38/62,39/61,38/62,39/61
6,Current gender diversity in management (female...,34/66,34/66,33/67,28/72,31/69
7,Number of severe injury,1,0,1,0,0

In [47]:
result = df.to_json(orient="index")
result

'{"0":{"":"Total Scope 1 GHG emissions (\'000 tonnes)","2021":"135","2020":"80","2019":"74","2018":"61","2017":"58"},"1":{"":"Total Scope 2 GHG emissions (\'000 tonnes)","2021":"119","2020":"98","2019":"85","2018":"78","2017":"78"},"2":{"":"Total Scope 3 GHG emissions (\'000 tonnes)","2021":"12,524","2020":"11,287","2019":"8,728","2018":"7,126","2017":"7,050"},"3":{"":"Total electricity consumption (\'000 gigajoule)","2021":"2,800","2020":"1,673","2019":"-","2018":"-","2017":"-"},"4":{"":"Total water consumption (\'000 m3)","2021":"1,188","2020":"1,152","2019":"1,596","2018":"1,485","2017":"1,435"},"5":{"":"Current gender diversity (female\\/male) (%)","2021":"38\\/62","2020":"38\\/62","2019":"39\\/61","2018":"38\\/62","2017":"39\\/61"},"6":{"":"Current gender diversity in management (female\\/male) (%)","2021":"34\\/66","2020":"34\\/66","2019":"33\\/67","2018":"28\\/72","2017":"31\\/69"},"7":{"":"Number of severe injury","2021":"1","2020":"0","2019":"1","2018":"0","2017":"0"}}'